* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* NavBar CSS */

.active {
    background-color: #967E76;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d8d6d6;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .title {
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin: 1rem;
    text-decoration: none;
    transition: color 0.3s;
}

nav .title:hover {
    color: #967E76;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
    padding-top: 20px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:not(.active):hover {
    background-color: #967E76;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 0.2rem;
    transition: background-color 0.3;
}

nav .menu:hover span {
    background-color: #967E76;
}

nav .cart-icon {
    position: relative;
}

nav .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
/* ProductsPage CSS */

/* Search Bar Section */ 

.search-bar {
    display: flex;
    align-items: center;
    background-color: #d8d6d6;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

.search-bar input:focus {
    border: 1px solid #9d9d9d;
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: #d8d6d6;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #967E76;
}

/* Header */

.store-header { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 35px;
    border-bottom: 1px solid #D7C0AE;
    margin-bottom: 20px;
}

.store-header h1 {
    font-size: 48px;
    color: #9d9d9d;
    margin: 0;
}

.sorting-filtering-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


.sort-filters {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 100px;
    padding: 10px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f8f8f8;
}

.sort-filters select {
    flex-grow: 1;
    border: none;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

 .category-filters {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.category-filters button {
    padding: 10px 15px;
    border: none;
    color: black;
    background-color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-filters button.active.active {
    background-color: #967E76;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.category-filters button:hover {
    background-color: #967E76;
}

.products ul {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.product-item {
    width: 250px;
    border-radius: 4px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item li {
    list-style: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item img {
    width: 100%;
    height: 150px;
    display: block;
    object-fit: contain;
    object-position: center;
    border-radius: 4px;
    transition: transform 0.3s;
}

.product-item img:hover {
    transform: scale(1.05);
}

.product-item .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.product-item .description h2 {
    font-size: 17px;
    margin: 0;
    text-align: center;
}

.product-item .description b {
    font-size: 20px;
    margin-top: 5px;
}

.product-item button {
    padding: 10px 20px;
    border: none;
    background-color: #D7C0AE;
    color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #967E76;
}

/* Footer Section */ 

footer {
    background-color: #d4cdcd;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 500;
    font-size: 14px;
}

footer p {
    color: #555;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.5px;
}

footer div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Login Page CSS */

.login {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f8f8f8; 
}

.login h1 {
    font-size: 28px;
    color: #555;
    margin-bottom: 20px; 
}

.login form {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 300px; 
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    background-color: #ffffff; 
}

.login input {
    padding: 10px 15px;
    border: 1px solid #D7C0AE;
    border-radius: 4px;
    font-size: 16px; 
    outline: none; 
    transition: border 0.3s; 
}

.login input:focus {
    border-color: #BFA895; 
}

.login button {
    padding: 10px 20px;
    border: none;
    background-color: #D7C0AE;
    color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #BFA895; 
}

.login span {
    font-size: 14px; 
    color: #555;
}

.login span a {
    color: #D7C0AE; 
    text-decoration: none; 
    transition: color 0.3s; 
}

.login span a:hover {
    color: #BFA895; 
}

/* Registration Form CSS */

.register {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f8f8f8;  
}

.register h1 {
    font-size: 28px;
    color: #555;
    margin-bottom: 20px; 
}

.register p {
    color: red; 
    font-size: 16px;
    margin-bottom: 20px; 
}

 .register form {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    width: 300px; 
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
}

.register input {
    padding: 10px 15px;
    border: 1px solid #D7C0AE;
    border-radius: 4px;
    font-size: 16px; 
    outline: none; 
    transition: border 0.3s; 
}

.register input:focus {
    border-color: #BFA895; 
}

.register button {
    padding: 10px 20px;
    border: none;
    background-color: #D7C0AE;
    color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register button:hover {
    background-color: #BFA895; 
}

/* Cart CSS */

.Cart-Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Cart-Modal-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Product Details Page CSS */

.product-details {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    background-color: #ffffff00; 
    max-width: 1200px; 
    margin: 0 auto; 
    gap: 20px;
}

@media (min-width: 768px) {
    .product-details {
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start; 
    }

    .product-details img {
        flex: 1; 
        max-width: 45%; 
        margin-right: 5%; 
    }

    .product-details div {
        flex: 1; 
    }
}

.back-button, .add-to-cart-button {
    width: 100%; 
    display: flex;
    justify-content: center; 
    margin-bottom: 20px;
}

.product-details button {
    padding: 10px 20px;
    border: none;
    background-color: #D7C0AE;
    color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #BFA895; 
}

.product-details h2 {
    font-size: 28px;
    color: #555;
    margin-bottom: 10px; 
}

.product-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px; 
    margin-top: 10px;
}

.product-details b {
    font-size: 28px;
    margin-bottom: 10px;
}

.product-details-img img {
    max-width: 100%; 
    border-radius: 4px;
}

.product-details button {
    padding: 10px 20px;
    border: none;
    background-color: #D7C0AE;
    color: #f8f8f8;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #BFA895;
}

.product-details h2 {
    font-size: 28px;
    color: #555;
    margin-bottom: 10px; 
}

.product-details p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.product-details img {
    max-width: 100%;
    border-radius: 4px;
}

.product-info {
    background-color: #435B66;
    flex: 1;
    border-radius: 10px;
}

